@import url(global.css);

/* Login Page */

body {
    font-family: "Arial", sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #FFFFFF; /* Warna latar belakang utama */
  }
  
  .container {
    width: 500px;
    max-width: 400px;
  }
  
  .card {
    /* background-color: #3498db; Warna latar card */
    background-color: #070738;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #FFFFFF; /* Warna teks pada card */
  }
  
  h2 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-size: 20px;
    margin-bottom: 6px;
  }
  
  input {
    padding: 20px;
    margin-bottom: 12px;
    border: 1px solid #3498db; /* Warna border input */
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out;
    outline: none; /* Hapus outline pada saat focus */
  }
  
  input:focus {
    border-color: #2980b9; /* Warna border input saat focus */
  }
  
  button {
    background-color: #FFFFFF; /* Warna latar button */
    color: #070738;
    padding: 10px;
    border: none;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }

  h2 {
    font-size: 30px;
  }
/*   
  button:hover {
    background-color: #000000;
    color: #FFFFFF
  }
   */

/* LeaderBoard Page */ 
table {
    width: 600px;
    box-shadow: 5px 10px 10px #000000;
}

table thead th {
    text-align: left;
    padding: 1rem;
}

table tbody  tr td {
    padding: 1rem;
}

/* About Page */

.business-details-1 {
  display: grid;
  grid-template-columns: auto auto;
  gap: 100px;
  width: 80%;
  margin-left: 10%;
}

.business-details-1 .left {
  width: 750px;
  height: 100%;
}

.business-details-1 .left img {
  width: 100%;
  height: 100%;
}

.business-details-1 .right h1 {
  font-size: 50px;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}

.business-details-1 .right h1 span {
  font-size: 20px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
  background-color: #070738;
  color: #FFFFFF;
  padding: 1rem;
  border-radius: 10px;
}

.business-details-1 .right p {
  font-size: 20px;
}

.business-details-1 .right .button-grp {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

.business-details-1 .right .button-grp a,
.business-details-1 .right .button-grp button {
  color: #FFFFFF;
  background-color: #070738;
  padding: 1rem 3rem;
  border-radius: 20px;
  border: 1px solid #070738;
  transition: .5s ease-in-out;
  text-align: center;
  font-size: 25px;
  /* text-decoration: none!important; */
}

.business-details-1 .right .button-grp a:hover
.business-details-1 .right .button-grp button:hover {
  color: #070738;
  background-color: #FFFFFF;
}

/* List of Business */

.top-bar{
  width: 100%; 
  height: 12vh; 
  background: #07072E; 
  margin: 0px;
}
body{
    margin: 0px;
}
.logo{
    height:10vh;
}
.buttons{
    text-align: center;
}
a{
    display: block;
    padding: 30px;
    text-decoration: none;
    color:black;
    border: #000000;
 }
a:hover {
    text-decoration: none;
    color: #000000;
    border-radius: 40px;
    background-color: lavender ;
}
.Teams{
    text-align: center;
    background-color: white;
    border-radius: 40px;
    width: 50vw;
    }
button{
    margin: 5px;
    font-family: "Rajdhani","sans-serif";
    font-weight: 700;
}
.Amount{
    align-self: flex-end;
    padding: 15px;
    text-align: center;
    border-radius: 40px;
    background-color: #07072E ;
    color:white;
 }
.Header{
    display: inline-flex;
    width:100%;
    margin-bottom: 30px;
    align-items:center;
    padding:20px;
    
}
.Header div{
    font-family: "Rajdhani", "sans-serif";
    font-weight: bold;
}
.head{
    margin-left:50px;
    font-size: xxx-large;
    letter-spacing: 0.1rem;
    float: left;
    width:70%
}